
<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>leddit</title>


  <meta name="description" content="Vote on LinkedIn users.">
  <meta name="author" content="Rameez Saiyid">

  <link href="https://web2.qatar.cmu.edu/~rameezs/css/font.css" rel="stylesheet" type="text/css">
  <link href="https://web2.qatar.cmu.edu/~rameezs/css/kube.min.css" rel="stylesheet" type="text/css">
  <link href="https://web2.qatar.cmu.edu/~rameezs/css/kube.legenda.css" rel="stylesheet" type="text/css">
  <link href="https://web2.qatar.cmu.edu/~rameezs/css/highlight.css" rel="stylesheet" type="text/css">
  <link href="https://web2.qatar.cmu.edu/~rameezs/css/master.css" rel="stylesheet" type="text/css">
  <link href="https://web2.qatar.cmu.edu/~rameezs/css/kube.demo.css" rel="stylesheet" type="text/css">
  <link href="https://web2.qatar.cmu.edu/~rameezs/css/custom.css" rel="stylesheet" type="text/css">

  <script>
    .centering {
      padding-top: 20%;
      padding-bottom: 20%;
    }
  </script>
  <script src="https://web2.qatar.cmu.edu/~rameezs/js/jquery-2.1.4.min.js" type="text/javascript">
  </script>

  <script type="text/javascript" src="https://web2.qatar.cmu.edu/~rameezs/js/tocbot.min.js"></script>
</head>


<body class="page-kube">
  <main>

<div id="main">
  <div id="hero">
    <div class="centering">
    <a href="/score/"><h1>Leddit</h1></a>
    <p>
      <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=864tpytwsoi6dn&redirect_uri=http://localhost:8080/score/getAuth/&state=hdtd0&scope=r_basicprofile"><button class="button">Sign in</button></a>
      <!-- GET request for authorization -->
      <br>
      Authenticate with your LinkedIn account.
    </p>
  </div>
  </div>
</div>
</main>
  <footer>   <footer id="footer">
    <nav>
      <ul>
        <li><span>Rameez Saiyid</span></li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer> </footer>


  <script src="https://web2.qatar.cmu.edu/~rameezs/js/kube.js" type="text/javascript">
  </script>
  <script src="https://web2.qatar.cmu.edu/~rameezs/js/kube.legenda.js" type="text/javascript">
  </script>
  <script src="https://web2.qatar.cmu.edu/~rameezs/js/master.js" type="text/javascript">
  </script>
</body>

</html>
